/tugas_perkenalan_github/nbproject/private/
/tugas_perkenalan_github/build/
/WSIB_week_2_tgs_1/nbproject/private/
/WSIB_week_2/nbproject/private/
/WSIB_week_2/build/
/WSIB_week_5/nbproject/private/
/WSIB_week_5/build/
/BKPM_minggu_9/nbproject/private/
/BKPM_minggu_9/build/
/BKPM_minggu_9/dist/
